
.ui:before{content:"";  position:fixed; background-color: white; box-shadow: 0 .2em 1em rgba(0,0,0,.5); z-index:999; display:block; top:0; right:0; left:0; width: 100vw; height: 4rem; }


/* Webfont: Lato-Black */@font-face {
    font-family: 'LatoWebBlack';
    src: url('fonts/Lato-Black.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Black.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Black.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BlackItalic */@font-face {
    font-family: 'LatoWebBlack';
    src: url('fonts/Lato-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
    font-family: 'LatoWebBold';
    src: url('fonts/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Hairline */@font-face {
    font-family: 'LatoWebHairline';
    src: url('fonts/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HairlineItalic */@font-face {
    font-family: 'LatoWebHairline';
    src: url('fonts/Lato-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('fonts/Lato-Heavy.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
    font-family: 'LatoWebHeavy';
    src: url('fonts/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Light */@font-face {
    font-family: 'LatoWebLight';
    src: url('fonts/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-LightItalic */@font-face {
    font-family: 'LatoWebLight';
    src: url('fonts/Lato-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Medium */@font-face {
    font-family: 'LatoWebMedium';
    src: url('fonts/Lato-Medium.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Medium.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-MediumItalic */@font-face {
    font-family: 'LatoWebMedium';
    src: url('fonts/Lato-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-SemiboldItalic */@font-face {
    font-family: 'LatoWebSemibold';
    src: url('fonts/Lato-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Thin */@font-face {
    font-family: 'LatoWebThin';
    src: url('fonts/Lato-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-Thin.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Lato-ThinItalic */@font-face {
    font-family: 'LatoWebThin';
    src: url('fonts/Lato-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Lato-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/Lato-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Lato-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}





* {
  box-sizing: border-box;
  font-family: Lato,  sans-serif;
}

body {
  font-family: Lato,  sans-serif;
  user-select: none;
  overflow: hidden;
  text-align: center;
  background-color: #0088ce;
}

.logo {
  color: #567;
  position: fixed;
  z-index: 9999;
  width: 15em;
  top:-1em;
  height: 2.75em;
  left: 1.5rem;

  top: .5rem;
}

.logo path {
  fill: currentcolor !important;
  stroke: currentcolor;
  stroke-width: 3px;
}

h1 {
  font-weight: 200;
  color: #456;
  font-size: 4em;
  -webkit-text-stroke: .025em currentcolor;
  margin-top: 4rem;
}

section input[type="number"],
section input[type="text"] {
  font-size: 1.5em;
}

body > input {
  opacity: .5;
  position: absolute;
}

input, button{outline:0;}
label,
input{font-family: lato, sans-serif; font-weight: 300}


.applicants-list td:first-child{padding:.2em 0}
table img {
  z-index: 999;  position:relative;
  display: inline-block;
  background-color: #ccc;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  outline: 0;
}

.ui > section {
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  opacity: .5;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #eee;
  overflow:auto;
  /*
  transition: all 1s cubic-bezier(.3,.1,.1,1); transform: scale(.9) translate(0%,-5%)*/
}

textarea{font-family:lato;  font-weight: 300; font-size: 1.25em; padding: 1em; box-sizing:border-box; width: 100%; max-width: 33rem; border:none; height: 8em; apperance:none;  margin-top:2em; outline:none;}
textarea:focus{ }
body > input[type="radio"] {
  visibility: hidden;
}

nav label {
  font-size: 1.5em;
  cursor: pointer;
  display: block;
  text-align: left;
  padding: .75em 1em;

}


.ava{background-color:#58a; display:block; width: 5em; height:5em; border-radius: 50%; background-size: contain; background-position: 50% 50%}

nav:after{content: "DEMO NAV";  pointer-events:none;font-size: 1.5em; position:fixed; top: .75em  ; right:.75em; letter-spacing:.1em;  color:#9df; font-family: lato; font-weight: 300}

nav:hover:after{content: ""; display:none }

nav label:hover {
  background-color: #8ce;
  color: #345;
  transform: scale(1.091) translate(0.25em, 0);
  border-radius: 0 1em 1em 0;
}
label.crm{background-color: #111; color:#abc}
nav {
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  padding-top: 4em;
  position: fixed;
  user-select: none;
  color: white;
  background-color: #123;
  top: 0rem;
  right: -5rem; overflow:hidden;
  z-index: 99;
  max-height: 2rem;

  border-radius: 0% 0  0% 0em;
  transition: none;
  z-index: 9999999;
  max-width: 35em;
}



nav:hover {
  transition: all .25s ease;
  padding-top: 0;
  right:0;
  background-color: #123;
  transition: right .25s ease, background .3s ease, max-height .25s ease;
  border-radius: 0 0 0 0;
  max-height: 100vh;
  overflow: visible;
  max-width: 35em;
}

          #jobs-list:checked ~ .ui .jobs-list,
    #applicants-list:checked ~ .ui .applicants-list,
     #available-jobs:checked ~ .ui .available-jobs,
              #apply:checked ~ .ui .apply,
#application-success:checked ~ .ui .application-success,
         #create-job:checked ~ .ui .create-job {
  opacity: 1;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  animation: inwego 1s ease;
}

@keyframes inwego {
  0% {
    transform: scale(1.03);
  }
  100% {
    transform: translate(0);
  }
}
table {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0;
  border-collapse: collapse;
}

th {
  border-bottom: .05em solid #0088ce;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1rem;
  color: #0088ce;
}

th, td {

  padding: .5em .3rem;
  text-align: left;
}

th:last-child, td:last-child {
  border-right: none;
}

section .button {
  font-size: 1.5rem; border-radius: .2em;
  margin: .5em 0;
  font-weight: 300;
  display: inline-block;
  background-color: #0078be;
  color: white;
transition: all .3s ease;
   transform:scale(.98);
  padding: 1em 2em;
  cursor: pointer;
  position:relative; overflow:hidden;
}
.button:hover{
  box-shadow: 0 .4em .5em  -.2em rgba(0,0,0,0.25);
  transform:scale(1.015)}

.button:before{
   content:"";
   display:block;
   position:absolute;
   background-color: rgba(255,255,255,0.5);


left:0;
  border-radius: 50%;
  width: 100%;
  height: 0;
  padding-top: 100%;
  background: white;

  top:100%;;

}

.button:focus:before,
.button:hover:before { top:0; transform: scale(1.5); opacity: 0;transition:all .5s ease; }

input{  font-family: Lato,  sans-serif; font-weight: 300;
}

input:not(:checked) ~ .ui section {
  animation: outwego 1s ease;}




@keyframes outwego {
  100% {
    transform: scale(0.9) translate(0% 50%);
  }
}

input[type="number"],
input[type="text"] {
-webkit-appearance:none;
  display: block;
  outline: 0; background-color:transparent;
  border: 0;
}

input[type="number"]:focus,
input[type="text"]:focus{border-bottom-color:#0088ce}

table{  max-width: 100%;
  ; overflow:scroll;
  table-layout: fixed;
    width: 100%;
    white-space: nowrap;}

table th,
table td{text-overflow:ellipsis;   overflow:hidden;}
.jobs-list table td:nth-child(5){
  width: 50%;
  overflow:hidden;   white-space: nowrap;
  }

.applicants-list table tr :last-child{text-align:center}

.applicants-list table td:last-child,
  .jobs-list table td:last-child{cursor:pointer;}

.applicants-list table td:last-child:hover,
  .jobs-list table td:last-child:hover{background-color:#0088ce; color: white; }

.internal h1{color: white;}

.internal{background-color:#246 !important; color: white}


.internal:after{content:"INTERNAL FOR STAFF ONLY"; position: fixed;  color:#0088ce;bottom: 1rem; right: 2rem;  }

.public h1{color:#0088ce}


.internal input{color:white}

input[type="text"] {
  padding: 0 1em;
  outline: 0;
  appearance: none;
  font-size: 1em;
  font-family: overpass, sans-serif;
  height: 2.5em;
  line-height: 2.5em;
  border: 0;
  background-color: white;
}


.select,
.select > select,
.text,
.text > input {
  max-width:100%;
  min-width: 22em;

}




.text, .text input, .select, .select select, .select label, .text label{text-align:left}
.select,
.text {appearance:none;
  cursor: pointer;
  display: block;
  position: relative;
  height: 6em;
  background-color:rgba(0,0,0,0.12);
  line-height: 4em; margin: .2em;
}

.select > label,
.text > label {
  pointer-events: none;
  z-index: 2;
}

.select > label,
.text > label {
  transform-origin: 0 0;
  transition: all 240ms ease;
  display: inlie-block;
  text-align: inherit;
  line-height: 4em;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  border: 0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(1rem,-.5em);
}

.text *, .select *{cursor: pointer;}

.select > select,
.text > input {

  z-index: 0;
  padding: 1rem ;
  height: 4em;
  padding-bottom: 0em;
  background-color: transparent;
  display: inline-block;
  line-height: 1em;
  vertical-align: bottom;
  text-align: inherit;
  background-size: 250%;
  background-image: linear-gradient(-45deg, transparent 50%, rgba(0,0,0,0.5) 50.01%, rgba(0,0,0,0.5) 100%);
  background-position: 99% 99%;
  transition: background .6s ease;}




.public  .select > select,
.public  .text > input { background-color:#eee; color:#000; background-image: linear-gradient(-45deg, transparent 50%, #fafafa 50.01%, #fafafa 100%);
}

.public  .select > select label{font-weight: 500; color: black}

.select > select {}

.select > select:focus {transition: all  1s ease;}
.select > select ~  span,
.text > input ~ span {
  display: block;
  margin: 0 ;
  bottom: 0;
  height: 0.1em;
  background-color: #00b9e4;
  width: 0%;
  transition: all 240ms ease;}


.select, .text{display:inline-block; vertical-align: top}

.select > select:focus + label,
.select > select:valid + label ,
.text > input:focus + label,
.text > input:valid + label { transform: translate(1rem, -1.1em) scale(0.75); color:#00b9e4;}



.select > select:focus + label,
.text > input:focus + label { color: #00b9e4;}


.select > select:focus, .text > input:focus {background-position: 1% 1%;}



.select > select:focus ~ span,
.text > input:focus ~ span {
  width: 100%;
}


/*

@media (max-width: 55em){

table,td,tr,th{display:block; overflow:visible; white-space:wrap; text-align:center; width: 100%  ; min-width: 90vw;  clear:both;}

tr{border-top: .1em solid  #00b9e4; margin-top: 1em;}
tr:first-child, th{display:none}
td:first-child{font-weight: 300; font-size: 1.5em;}
}}
*/

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #00b9e4;
}

::selection {
    color: white;
    background: #00b9e4;
}



.select select{

  -webkit-appearance:none;
  appearance:none;
  outline:0;
  border-radius: 0; padding: 0 1em;
  display:block;
 color: white; border:0; font-size: 1.5rem;  font-family: lato, sans-serif; font-weight: 300
}
#resu ~ label{position:relative;}
#resu ~ label:before{content:"";display:inline-block; width: 1.5em; height:1.5em;
background-image: url(../images/paste.svg) !important; background-position: 50% 50%; opacity:0.5; position:absolute; left: 1em;background-size: contain; }



#resu ~ label:hover:before{opacity:1}
#resu ~ label:hover{background-color:#eee}
#resu:checked ~ label{background-color: #ddd; color: black;}

#resu ~ label:before{}
#resu:checked ~ label:after{content:" SUCCESSFUL"}
#resu ~ label{display:block;  background-color:#ccc;  color:#666; cursor: pointer; padding: 1em;  max-width: 16em; margin: .2em auto ; vertical-align:top;  ;}


textarea{transition: all .25s ease; margin-top:0; background-color:#fff;}



#resu:not(:checked) ~ textarea{opacity:0;}

nav .pub{background-color:#bcd; color: black;}


.photoup{display:inline-block; padding: 2em; max-width: 33rem !important}
.photoup img{min-width: 12em; height:12em; border-radius: 50%; display:inline-block; vertical-align: middle; box-shadow: 0 1.5em 1em -.5em rgba(0,0,0,0.5)}


.photoup label  { transition: all .4s ease; cursor:pointer !important; vertical-align: middle;background-color: #fff ;  position:relative !important; margin: 1rem auto;  transform: none !important; width: 17rem !important;  font-size: 1.5rem;line-height: 4em !important;  display:inline-block;text-align:center !important;  color: #999 !important; box-shadow: inset 0 0 0 .1em; }

.photoup label:hover{background-color:#c00; color: white !important;box-shadow: inset 0 0 0 .1em #900;


  background-image: repeating-linear-gradient(-45deg, transparent, transparent 25px, #500 25px, #500 50px);
  animation:progress 2s linear infinite;
  background-size: 150% 100%;
}
@keyframes progress{
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -70px 0px;
  }
}




.photoup input:not(:checked) ~ img{transform: scale(.5); opacity:0;  transition: all .6s ease}

.photoup input:checked ~ img{transform: scale(1); opacity:1;  transition: all .6s cubic-bezier(.5,.1,.1,1.3)}

input[type="checkbox"]{position:absolute; opacity:0; pointer-events:none;  }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;}

  .resu{  background-color:#eee;display:inline-block; padding: .25em; width: 33rem; margin: 0 auto;}

  .applicants-list table th:last-child,
  .applicants-list table td:last-child{display:none !important}


  .applicants-list table  td:last-child{position:absolute !important;   pointer-events:none ; left: 25%; top: -5em !important;  background-color: rgba(10,10,10,0.95) !important;  opacity:.95;  box-shadow: 0 1em 1em rgba(0,0,0,0.5) ; text-align:left; padding: 2em;  width: 70%; top: -2em; text-overflow:initial !important; white-space:normal !important;  z-index:99999;}


  @keyframes popup{
  0%{transform: scale(.95); opacity:0}

  }

  .applicants-list td:first-child{width:10em; overflow:visible;}
  .applicants-list table{;}
  .applicants-list th,
  .applicants-list td{width: 24%; display:inline-block;}
  .applicants-list table tr{position:relative !important; display:block;}
  .applicants-list table tr:hover td:last-child{display:block !important;  animation: popup .4s ease}

  .applicants-list table tr:hover{background-color:#123; transition: background .5s ease;}


  .ava{transition: all .35s ease;}
  .applicants-list table tr:hover .ava{transform: scale(2) translate(20%,0); position:relative; z-index:9999}
